vaadin-login-form-wrapper {
  background: transparent !important;
}

vaadin-login-form::part(form) {
  background: transparent !important;
  padding: 0;
}

vaadin-login-form::part(form-title) {
  display: none;
}

vaadin-login-form vaadin-text-field,
vaadin-login-form vaadin-password-field {
  background: transparent;
}
